<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-130d6d01-16ae-41b4-b3fb-397986808413;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-130d6d01-16ae-41b4-b3fb-397986808413.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.sqlclient"/>
</connectionStrings>